<html>
<head>
	<title>USE-LESS COMPANY CONFIRMATION</title>
	<link rel="icon" href="purchase bg.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/confirmationstyle.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="center">
        <div class="content">
            <div class="header">
                <h2>Order Confirmation</h2>
                <a href="homepage.html">
                <label for="click" class="fas fa-times"></label>
                </a>    
            </div>
            <label for="click" class="fas fa-check"></label><br>
            <p><b>Your order has been confirmed!</b></p>
            <p1>Please check your mail.For further queries</p1> 
            <p1>contact us through <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=teamuseless2020@gmail.com">teamuseless2020 <i class="fa fa-envelope"></i></a>.</p1>
            <div class="line"></div>
            <a href="login.html">
            <label for="click" class="close-btn">Login</label>
            </a>    
        </div>
    </div>
</body>
</html>

