<html>
<head>
    <title>USE-LESS ACCOUNT Details</title>
    <link rel="icon" href="sellingPageBg.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/details.css?q=64485524">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="center">
        <div class="content">
            <div class="header">
                <h2>SAVED!</h2>
                <a href="profile.html">
                <label for="click" class="fas fa-times"></label>
                </a>    
            </div>
            <label for="click" class="fas fa-check"></label><br><br>
            <center>
				<p1 ><b> Your Account Details has been Noted Successfully </b></p1>
            </center>
            <div class="line"></div>
            <a href="login.html">
            <label for="click" class="close-btn">Login</label>
            </a>    
        </div>
    </div>
</body>
</html>

