<html>
<head>
<title>Use-less Login</title>
	<link rel="icon" href="sellingPageBg.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">    
  <link rel="stylesheet" type="text/css" href="static/style.css?q=1280549780">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 
<body onload="" 
	onpageshow="if (event.persisted) noBack();" onunload="noBack();">
  <div class="loginbox">
  <img src="static/Avatar.png" class="Avatar">
      <h1><b>Login Here</b></h1>
      <form action="/sellingPage.html" method="POST">
           <p>E-Mail ID</p>
           <input type="text" type="text" placeholder="Enter E-Mail Id" required name="userName">
           <p>Password</p>
           <input type="password" type="text" placeholder="Enter Password" required name="userPass">
           {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h6 style="color:red;font-size:15px">{{ message }}</h6>
                    {% endfor %}
                {% endif %}
            {% endwith %}
           <input type="submit" name="" value="Login">
           <a href="passReset.html">Forget password?</a><br>
           <a href="register.html">Don't have an account?</a>
       </form> 
    </div> 
     <SCRIPT type="text/javascript">
	window.history.forward();
	function noBack() { window.history.forward(); }
</SCRIPT>
</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
