<html>
<head>
    <title>USE-LESS Reset Password</title>
    <link rel="icon" href="sellingPageBg.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/stylePassReset.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="center">
        <div class="content">
            <div class="header">
                <h2>Password Resetted!</h2>
                <a href="homepage.html">
                <label for="click" class="fas fa-times"></label>
                </a>    
            </div>
            <label for="click" class="fas fa-check"></label><br><br>
            <p1><b>Your New Password has been updated successfully</b></p1>
            <div class="line"></div>
            <a href="login.html">
            <label for="click" class="close-btn">Login</label>
            </a>    
        </div>
    </div>
</body>
</html>

