<!DOCTYPE html>
<html>
<title>USE-LESS Selling</title>
	<link rel="icon" href="sellingPageBg.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h4,h5,h6 {font-family: "Montserrat", sans-serif ;text-align:center}
    h3{text-align: center; font-size: 20;}
.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}
@media only screen and (max-width: 600px)
</style>

<body onload="" 
	onpageshow="if (event.persisted) noBack();" onunload="noBack();" class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="static/sellingPageBg.png" style="width:100%">
  <a href="profile.html" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>PROFILE</p>
  </a>
  <a href="#shopping" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-shopping-bag w3-xxlarge"></i>
    <p>SELLING</p>
  </a>
  <a href="homepage.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-sign-out w3-xxlarge"></i>
    <p>LOGOUT</p>
  </a>
</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="profile.html" class="w3-bar-item w3-button" style="width:25% !important">PROFILE</a>
    <a href="#shopping" class="w3-bar-item w3-button" style="width:25% !important">SELLING</a>
    <a href="homepage.html" class="w3-bar-item w3-button" style="width:25% !important">LOGOUT</a>
  </div>
</div>
<!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Welcome {{userName}}!!!</span></h1>
    <p></p>
    <img src="static/sellingPageBg.png" alt="bg" class="w3-image" width="992" height="1108">
  </header>

  <!-- About Section -->
  <form action="/confirmationpopup.html" method="POST">
  <div class="w3-row-padding w3-padding-16" id="shopping">
    <div class="w3-third w3-margin-bottom">
      <img src="static/bio.png" alt="BIO-DEGRADABLE WASTE" onclick="onClick(this)" style="width:100%">
      <div class="w3-container w3-white">
          <h3><b><I>BIO-DEGRADABLE</I></b></h3>
          <h2>7</h2>
        <h6 class="w3-opacity">pts/kg</h6>
        <p></p>
        <p></p>
        <input class="w3-input w3-border w3-margin-bottom " type="number" value="0" name="bioDeg" min="0" max="50" > 
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="static/non-bio.png" alt="NON-BIODEGRADABLE WASTE" onclick="onClick(this)"
           style="width:100%">
      <div class="w3-container w3-white">
          <h3><b><I>NON-BIODEGRADABLE</I></b></h3>
          <h2>10</h2>
        <h6 class="w3-opacity">pts/kg</h6>
        <p></p>
        <p></p>
        <input class="w3-input w3-border w3-margin-bottom " type="number" value="0" name="nonBioDeg" min="0" max="50" > 
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="static/metal.jpg" alt="METAL WASTE" onclick="onClick(this)" style="width:100%">
      <div class="w3-container w3-white">
          <h3><b><I>METAL</I></b></h3>
          <h2>8</h2>
        <h6 class="w3-opacity">pts/kg</h6>
        <p></p>
        <p></p>
        <input class="w3-input w3-border w3-margin-bottom " type="number" value="0" name="metal" min="0" max="50" required > 
        </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="static/electrical.png" alt="ELECTRONICS WASTE" onclick="onClick(this)" style="width:100%">
      <div class="w3-container w3-white">
          <h3><b><I>ELECTRONICS</I></b></h3>
          <h2>5</h2>
        <h6 class="w3-opacity">pts/kg</h6>
        <p> </p>
        <input class="w3-input w3-border w3-margin-bottom " type="number" value="0" name="electronic" min="0" max="50" > 
      </div>
    </div>
<div class="w3-third w3-margin-bottom">
      <img src="static/medical.jpg" alt="MEDICAL WASTE" onclick="onClick(this)"  style="width:100%">
      <div class="w3-container w3-white">
          <h3><b><I>MEDICAL</I></b></h3>
        <h2>8</h2>
        <h6 class="w3-opacity">Pts/kg</h6>
      <input class="w3-input w3-border w3-margin-bottom " type="number" value="0" name="medical" min="0" max="50"/>              
      </div>
    </div>
</div>
    <label class="check">
            <input type="checkbox" type="checkbox" required name="tick" style="height: 13px; width:18px;">
        <span class="checkmark"></span>
    </label><b><I>I agree to sell my products</I></b>
    <br>
    <input type="submit" value="CONFIRM" <button class="w3-button w3-green w3-padding-large w3-section " style="
    align-content: center;">
    </button> 
</form>
      <footer class="w3-content w3-center w3-padding-20 w3-text-grey w3-xlarge">
    <p class="w3-medium">For any queries contact<a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=teamuseless2020@gmail.com" target="_blank" class="w3-hover-text-green"> teamuseless2020 <i class="fa fa-envelope w3-hover-opacity"></i></a></p>
  <!-- End footer -->
  </footer>
<!-- END PAGE CONTENT -->
<SCRIPT type="text/javascript">
	window.history.forward();
	function noBack() { window.history.forward(); }
</SCRIPT> 
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>
</div>
</body>
</html>
